<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StoreServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.StoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.ConnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreAddServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.StoreAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreRemoveServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.StoreRemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreEditServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.StoreEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreUpdateServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.StoreUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreCategoryServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.StoreCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.URServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URAddServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.URAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URSearchServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.URSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAddServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.CartAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UREditServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.UREditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URUpdateServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.URUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URDeleteServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.URDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.CancelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccDelServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.AccDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessLogServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.AccessLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartRemoveServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.CartRemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shipmentSearchServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.shipmentSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipmentEditServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.ShipmentEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shipmentUpdateServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.shipmentUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipmentDeleteServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.ShipmentDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllShipmentsServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.AllShipmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewShipmentServlet</servlet-name>
        <servlet-class>ISD.Assignment.Controller.NewShipmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StoreServlet</servlet-name>
        <url-pattern>/StoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreAddServlet</servlet-name>
        <url-pattern>/StoreAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreRemoveServlet</servlet-name>
        <url-pattern>/StoreRemoveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URServlet</servlet-name>
        <url-pattern>/URServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URAddServlet</servlet-name>
        <url-pattern>/URAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URSearchServlet</servlet-name>
        <url-pattern>/URSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UREditServlet</servlet-name>
        <url-pattern>/UREditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URUpdateServlet</servlet-name>
        <url-pattern>/URUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URDeleteServlet</servlet-name>
        <url-pattern>/URDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreEditServlet</servlet-name>
        <url-pattern>/StoreEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreUpdateServlet</servlet-name>
        <url-pattern>/StoreUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreCategoryServlet</servlet-name>
        <url-pattern>/StoreCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAddServlet</servlet-name>
        <url-pattern>/CartAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelServlet</servlet-name>
        <url-pattern>/CancelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccDelServlet</servlet-name>
        <url-pattern>/AccDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessLogServlet</servlet-name>
        <url-pattern>/AccessLogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartRemoveServlet</servlet-name>
        <url-pattern>/CartRemoveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shipmentSearchServlet</servlet-name>
        <url-pattern>/shipmentSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipmentEditServlet</servlet-name>
        <url-pattern>/ShipmentEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shipmentUpdateServlet</servlet-name>
        <url-pattern>/shipmentUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipmentDeleteServlet</servlet-name>
        <url-pattern>/ShipmentDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllShipmentsServlet</servlet-name>
        <url-pattern>/AllShipmentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewShipmentServlet</servlet-name>
        <url-pattern>/NewShipmentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
